Tarea 2

Para comenzar debemos importar las librerias para leer y manipular los datos del archivo .csv, para ello vamos a escrbir "import pandas as pd" e "import numpy as np"

In [1]:
import pandas as pd
import numpy as np

1-Utilizar los métodos pandas.read_xxx() y pandas.to_xxx() para leer y guardar los
datos
2-Revisar si los datos de entrada tienen o no un encabezado. De no ser así, corregir esta
situación

El archivo que vamos a manipular es de un estudio de dos tipos de vinos, el vino blanco y el vino rojo, los cuales extrajimos de la UC Irvine Machine Learning Repository:


Columna	Descripción

* fixed acidity:	            Acidez fija
* volatile acidity:          Acidez volatil
* citric acid:	            Ácido citrico
* residual sugar:	        Azúcar residual
* chlorides:                 Cloruros
* free sulfur dioxide:	    Dióxido de azufre libre
* total sulfur dioxide:      Dióxido de azufre total
* density:	                Densidad
* pH:	                    pH medida de acidez
* sulphates:                 Sulfatos
* alcohol:	                Alcohol en grados
* quality:	                Calidad de 0 a 10
* Type-Wine:                 Tipo de vino (blanco y rojo)

In [2]:
df = pd.read_csv('winequality2.csv')
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type-Wine
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,NaN,3.00,0.45,8.8,6,White
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,White
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,White
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Red
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Red
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Red
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Red
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Red

3- Realizar un análisis básico de los datos de entrada con con los métodos .describe() y
.info()

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         6497 non-null   float64
 1   volatile acidity      6497 non-null   float64
 2   citric acid           6497 non-null   float64
 3   residual sugar        6472 non-null   float64
 4   chlorides             6497 non-null   float64
 5   free sulfur dioxide   6497 non-null   float64
 6   total sulfur dioxide  6497 non-null   float64
 7   density               6350 non-null   float64
 8   pH                    6497 non-null   float64
 9   sulphates             6497 non-null   float64
 10  alcohol               6457 non-null   float64
 11  quality               6497 non-null   int64
 12  Type-Wine             6497 non-null   object
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6497.000000,6497.000000,6497.000000,6472.000000,6497.000000,6497.000000,6497.000000,6350.000000,6497.000000,6497.000000,6457.000000,6497.000000
mean,7.215307,0.339666,0.318633,5.407695,0.056034,30.525319,115.744574,0.994545,3.218501,0.531268,10.489083,5.818378
std,1.296434,0.164636,0.145318,4.726664,0.035034,17.749400,56.521855,0.002814,0.160787,0.148806,1.192961,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992260,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994800,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996800,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.000000,4.010000,2.000000,14.900000,9.000000

4-Identificar y manipular valores faltantes
    a- Identificar valores faltantes
    b- Manipular valores faltantes
    c- Correguir el formato de los datos

In [4]:
print("Existen ",df.isnull().sum().sum(), "valores faltantes")

Existen  212 valores faltantes

In [5]:
datos_faltantes = df.isnull()
datos_faltantes.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type-Wine
0,False,False,False,False,False,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,True,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
df.isnull().sum(axis = 0)

fixed acidity             0
volatile acidity          0
citric acid               0
residual sugar           25
chlorides                 0
free sulfur dioxide       0
total sulfur dioxide      0
density                 147
pH                        0
sulphates                 0
alcohol                  40
quality                   0
Type-Wine                 0
dtype: int64

Basado en el resumen anterior, cada columna tiene 4898 filas de datos y 12 columnas. En 2 columnas podemos observar datos faltantes.
 
1. En la columna residual sugar, 25 datos faltantes.
2. En la columna density, 147 datos faltantes.
3. En la columna alcohol, 40 datos faltantes.


Separamos los Dataframe por tipo de vino, para obtener los promedios de los datos faltantes y remplazar estos datos.

In [7]:
df_white = df[df['Type-Wine']=='White']
df_red = df[df['Type-Wine']=='Red']

In [8]:
df_white.isnull().sum(axis = 0)

fixed acidity            0
volatile acidity         0
citric acid              0
residual sugar          25
chlorides                0
free sulfur dioxide      0
total sulfur dioxide     0
density                 76
pH                       0
sulphates                0
alcohol                 34
quality                  0
Type-Wine                0
dtype: int64

In [9]:
df_red.isnull().sum(axis = 0)

fixed acidity            0
volatile acidity         0
citric acid              0
residual sugar           0
chlorides                0
free sulfur dioxide      0
total sulfur dioxide     0
density                 71
pH                       0
sulphates                0
alcohol                  6
quality                  0
Type-Wine                0
dtype: int64

In [10]:

prom_sug = df_white["residual sugar"].astype("float").mean(axis=0)
prom_density = df_white["density"].astype("float").mean(axis=0)
prom_alcohol = df_white["alcohol"].astype("float").mean(axis=0)

print("Promedio de azucar residual:", prom_sug)
print("Promedio de la densidad:", prom_density)
print("Promedio del alcohol:", prom_alcohol)

df_white["residual sugar"].replace(np.nan, prom_sug, inplace=True)
df_white["density"].replace(np.nan, prom_density, inplace=True)
df_white["alcohol"].replace(np.nan, prom_alcohol, inplace=True)

Promedio de azucar residual: 6.349076544223272
Promedio de la densidad: 0.9939111841559518
Promedio del alcohol: 10.51092927631579

C:\Users\Lenovo\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [11]:
prom_sug = df_red["residual sugar"].astype("float").mean(axis=0)
prom_density = df_red["density"].astype("float").mean(axis=0)
prom_alcohol = df_red["alcohol"].astype("float").mean(axis=0)

print("Promedio de azucar residual:", prom_sug)
print("Promedio de la densidad:", prom_density)
print("Promedio del alcohol:", prom_alcohol)

df_red["residual sugar"].replace(np.nan, prom_sug, inplace=True)
df_red["density"].replace(np.nan, prom_density, inplace=True)
df_red["alcohol"].replace(np.nan, prom_alcohol, inplace=True)

Promedio de azucar residual: 2.53880550343965
Promedio de la densidad: 0.9965468390052357
Promedio del alcohol: 10.422379158819837

In [17]:
contenedores = np.linspace(min(df["quality"]), max(df["quality"]), 4)
contenedores
nombres_de_grupo = ['Mala', 'Media', 'Alta']
df['quality classification'] = pd.cut(df['quality'], contenedores, labels=nombres_de_grupo, include_lowest=True )
df[['quality','quality classification']].head(20)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type-Wine,quality classification
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,NaN,3.00,0.45,8.8,6,White,Media
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,White,Media
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,White,Media
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White,Media
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White,Media
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,White,Mala
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,White,Media
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,White,Media
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,White,Mala
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,White,Media

In [21]:
dummy_1 = pd.get_dummies(df["Type-Wine"])
dummy_1.head()

df['Red']=dummy_1['Red']
df['White']=dummy_1['White']



df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Type-Wine,Red,White
0,7.0,0.270,0.36,20.7,0.045,45.0,170.0,NaN,3.00,0.45,8.8,6,White,0,1
1,6.3,0.300,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6,White,0,1
2,8.1,0.280,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6,White,0,1
3,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White,0,1
4,7.2,0.230,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6,White,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6492,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Red,1,0
6493,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Red,1,0
6494,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Red,1,0
6495,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Red,1,0
6496,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Red,1,0

In [ ]:
df.drop("Type-Wine", axis = 1, inplace=True)

In [15]:
#df3 = pd.read_csv('winequality-red2.csv')
#df2= pd.read_csv('winequality-white.csv', sep=';')
#df3['Type-Wine']= "Red"
#df2['Type-Wine']= "White"

#df4=pd.concat([df2, df3], sort=False)

#df.to_csv("winequality2.csv", index=False)